## Object oriented programming in python

In [ ]:
properties: name, age, contact details, recipient list, subject, body
behaviours: wlaking, running, swimming, adding attachments, sending mails

four pillars of OOPS:
1) Encapsulation
2) Inheritence
3) Abstraction
4) Polymorphirsm

#### defining class in python

In [1]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def set_name(self, name):
        # set name below
        self.name = name

e1 = Employee("Chaitanya", 25)

In [2]:
e1

In [3]:
e2 = Employee("Chintan", 29)

In [5]:
e2

In [7]:
e1.name

'Chaitanya'

In [8]:
e2.name

'Chintan'

In [9]:
class Employee:
    def __init__(self, name, age):
        print(id(self))
        self.name = name
        self.age = age

    def set_name(self, name):
        # set name below
        self.name = name

e1 = Employee("Chaitanya", 25)

1765194785056

In [10]:
print(id(e1))

1765194785056

In [11]:
class Employee:
    def __init__(self, name, age, address=""):
        print(id(self))
        self.name = name
        self.age = age
        self.address = address

    def set_name(self, name):
        # set name below
        self.name = name

e1 = Employee("Chaitanya", 25)
e2 = Employee("Ajay", 29, "Bangalore")

1765194785392
1765192805712

In [12]:
e1.address

''

In [13]:
e2.address

'Bangalore'

In [14]:
e2.__dict__

{'name': 'Ajay', 'age': 29, 'address': 'Bangalore'}

In [15]:
e1.__dict__

{'name': 'Chaitanya', 'age': 25, 'address': ''}

In [16]:
e1.set_name("Chaitanya Pr")

In [17]:
e1.__dict__

{'name': 'Chaitanya Pr', 'age': 25, 'address': ''}

In [18]:
class A:
    def funct_1(self):
        self.a = "some val"

In [19]:
ob_a = A()

In [22]:
ob_a.__dict__

{'a': 'some val'}

In [21]:
ob_a.funct_1()

In [23]:
ob_a.__dict__

{'a': 'some val'}

In [24]:
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [25]:
a = Dog("Tommy", 5)
b = Dog("Garfield", 8)

In [26]:
a.name

'Tommy'

In [27]:
b.name

'Garfield'

In [28]:
a.species

'Canis familiaris'

In [29]:
b.species

'Canis familiaris'

In [30]:
c = Dog()

TypeError: Dog.__init__() missing 2 required positional arguments: 'name' and 'age'

In [31]:
d = Dog(4, 5, 8)

TypeError: Dog.__init__() takes 3 positional arguments but 4 were given

In [32]:
Dog.species

'Canis familiaris'

In [37]:
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [38]:
a = Dog("rocky", 5)

In [39]:
a.species

'Canis familiaris'

In [40]:
a.__dict__

{'name': 'rocky', 'age': 5}

In [41]:
a.species = "Bull Dog"

In [43]:
a.__dict__

{'name': 'rocky', 'age': 5, 'species': 'Bull Dog'}

In [44]:
b = Dog("Marrie", 5)

In [45]:
b.species

'Canis familiaris'

In [46]:
Dog.species = "Bull dog"

In [47]:
b.species

'Bull dog'

In [49]:
b.__dict__

{'name': 'Marrie', 'age': 5}

In [50]:
b.name = "doggy"

In [51]:
b.__dict__

{'name': 'doggy', 'age': 5}

In [ ]:
- Class reference change the class attribute.
- we can access class attribute using object reference but for Read only operation
- if we try to change the class attribute directly using object refence it creates a new object attribute for that particular
  object
- An object method can only be accessed via object reference
- A class method can be accesed by an object reference

In [52]:
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def change_name(self, name):
        self.name = name

    @classmethod
    def change_species(cls, new_sp):
        cls.species = new_sp

In [53]:
a = Dog("Harvey", 3)

In [54]:
a.species

'Canis familiaris'

In [55]:
a.change_species("Bull Dog")

In [56]:
Dog.species

'Bull Dog'

In [57]:
a.__dict__

{'name': 'Harvey', 'age': 3}

In [58]:
Dog.change_species("Canis familiaris")

In [59]:
Dog.species

'Canis familiaris'

In [60]:
a.species

'Canis familiaris'

In [61]:
a.__dict__

{'name': 'Harvey', 'age': 3}

In [62]:
a.change_name("Rocky")

In [63]:
a.__dict__

{'name': 'Rocky', 'age': 3}

In [64]:
Dog.change_name("Tommy")

TypeError: Dog.change_name() missing 1 required positional argument: 'name'

In [65]:
Dog.change_name(a, "Tim")

In [66]:
a.__dict__

{'name': 'Tim', 'age': 3}

In [67]:
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def change_name(self, name):
        self.name = name

    @classmethod
    def change_species(cls, new_sp):
        cls.species = new_sp

    @staticmethod
    def general_info():
        print("Dogs are loyal animals and a great company")

In [68]:
a = Dog("Harvey", 3)

In [69]:
a.general_info()

Dogs are loyal animals and a great company

In [70]:
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def change_name(self, name):
        self.name = name

    @classmethod
    def change_species(cls, new_sp):
        cls.species = new_sp

    def general_info():
        print("Dogs are loyal animals and a great company")

In [71]:
a = Dog("Harvey", 3)

In [72]:
a.general_info()

TypeError: Dog.general_info() takes 0 positional arguments but 1 was given

In [78]:
class Employee:
    def __init__(self, name, age, pos, address="", salary=0):
        self.name = name
        self.age = age
        self.address = address
        self.salary = salary
        self.position = pos

    def set_name(self, name):
        # set name below
        self.name = name

    def set_salary(self, salary):
        if Employee.validate_if_employee(self.position) == True:
            self.salary = salary
        else:
            self.salary -= (self.salary/10)

    @staticmethod
    def validate_if_employee(position):
        if position is not "employee":
            return False
        else:
            return True

<>:21: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
<>:21: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
C:\Users\Kunal\AppData\Local\Temp\ipykernel_13920\3782904683.py:21: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
  if position is not "employee":

In [79]:
e1 = Employee("Ramanuj", 50, "Contractor", address="Bangalore", salary=50000)

In [80]:
e1.set_salary(50000)

In [81]:
e1.__dict__

{'name': 'Ramanuj',
 'age': 50,
 'address': 'Bangalore',
 'salary': 45000.0,
 'position': 'Contractor'}